# <center> Program to analyze and find salary of a job profile</center>
### <center>by Sushant Deshpande</center>

I wrote this program so that it can scrape and analyze several jobs listed on Indeed.com or Indeed.ca in this case since I am in Canada and find the average salary of jobs. In addition to this, it also tells us which city in Canada has the maximum number of jobs and maximum salary. I have plotted all this using bar graph to make it visually easy to understand.

 Let's start by asking the user which job title he wants search for. First, we create a variable called <b> *job_title_1*</b> and store the user input in it

In [1]:
job_title_1 = input("Enter the Job Title: ")

Enter the Job Title: Data Scientist

#### Now let's import the required libries

In [2]:
from bs4 import BeautifulSoup
import requests
import matplotlib.pyplot as plt
from urllib.request import urlopen
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.cm as cm
import matplotlib.colors as colors
import time
print('Libraries imported.')

Libraries imported.

The way Indeed works is it takes the given user input, converts it to lower case and replaces the spaces with +. So we need to do the same.

Let's convert the job title to lower case using <b>.lower()</b> method.

Then, let's replace the spaces with + using <b>.repalce()</b> method.

And then let's see how the output looks, <b>job_title_3</b> in this case.

In [3]:
job_title_2 = job_title_1.lower() # convert to lower case
job_title_3 = job_title_2.replace(' ', '+') # replace space with +
job_title_3

'data+scientist'

In our case, since we are searching for <b>Data Scientist</b> the output looks good, <b>*data+scientist*</b>

Now let's write the code that can scrape Indeed.ca with our <b>*job_title_3*</b>

Here we insert job_title_3 into our url using concatenate feature in python

In [4]:
url = 'https://www.indeed.ca/jobs?q='+job_title_3+'&l=canada'
page = requests.get(url)
soup = BeautifulSoup(page.text, "html.parser")
#print(soup.prettify())

Let's check the url that we just parsed, just to be sure.

In [5]:
url

'https://www.indeed.ca/jobs?q=data+scientist&l=canada'

Now that we have the the url, let's write a function that will parse the url, extract the data and store it in a dataframe.

In order to get a proper data set, we need to parse more than one page. So let's write the code to parse first 10 pages and store them in the same dataframe using <b>pd.concat</b> function.

In [6]:
def parse(url):
    time.sleep(5)
    html = requests.get(url)
    soup = BeautifulSoup(html.content, 'html.parser', from_encoding="utf-8")
    df = pd.DataFrame(columns=["Title","Location","Company","Salary"])
    for each in soup.find_all(class_= "result" ):
        time.sleep(5)
        try: 
            title = each.find(class_='jobtitle').text.replace('\n', '')
        except:
            title = 'None'
        try:
            location = each.find('span', {'class':"location" }).text.replace('\n', '')
        except:
            location = 'None'
        try: 
            company = each.find(class_='company').text.replace('\n', '')
        except:
            company = 'None'
        try:
            salary = each.find('span', {'class':'no-wrap'}).text.replace('\n', '')
        except:
            salary = 'None'
        #synopsis = each.find('span', {'class':'summary'}).text.replace('\n', '')
        df = df.append({'Title':title, 'Location':location, 'Company':company, 'Salary':salary}, ignore_index=True)
    return df
df1 = parse(url)
url_1 = url + "&start=20"
time.sleep(5)
url_2 = url + "&start=40"
time.sleep(5)
url_3 = url + "&start=60"
time.sleep(5)
url_4 = url + "&start=80"
time.sleep(5)
url_5 = url + "&start=100"
time.sleep(5)
url_6 = url + "&start=120"
time.sleep(5)
url_7 = url + "&start=140"
time.sleep(5)
url_8 = url + "&start=160"
time.sleep(5)
url_9 = url + "&start=180"
time.sleep(5)
url_10 = url + "&start=200"

df2 = parse(url_1)
df3 = parse(url_2)
df4 = parse(url_3)
df5 = parse(url_4)
df6 = parse(url_5)
df7 = parse(url_6)
df8 = parse(url_7)
df9 = parse(url_8)
df10 = parse(url_9)
df11 = parse(url_10)

data1 = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11], axis=0, ignore_index=True)
data1.head()

,Title,Location,Company,Salary
0,Data Science / Machine Vision Intern,None,Relay Medical Corp.,None
1,Data Scientist,None,autoTRADER.ca,None
2,Integrity Data Scientist,"Calgary, AB",TC Energy,None
3,Data Wrangler,Ontario,John Deere,None
4,Data Scientist,"Quebec City, QC",Targeted Talent,None

In [7]:
data1.shape

(167, 4)

Once we have the dataset, we can see that it has a lot of stuff that we don't need like \n, $ etc. So let's clean up the data.

When we check the data type of data1, we can see that <b>Salary</b> is stored as an object. In addition to that, Salary is defined as per year, per month, per week and per hour. In order for our analysis to work, we need to have salary displayed as per year and the column salary itself should be either <b>*float*</b> or <b>*int*</b>.

In [8]:
data1.dtypes # here, salary is an object

Title       object
Location    object
Company     object
Salary      object
dtype: object

In [9]:
data_sal_year_temp = data1[data1['Salary'].str.contains(' a year')].reset_index(drop=True)
data_sal_year_1a = data_sal_year_temp.replace(' a year', '', regex=True) # replace 'a year'
data_sal_year_1 = data_sal_year_1a.replace('\n', '', regex=True) # replace \n
data_sal_year_2 = data_sal_year_1.replace('[\$,)]', '', regex=True) # replace $
data_sal_year_3a = data_sal_year_2['Salary'].str.split('-', expand=True)
data_sal_year_3a.iloc[:, :] = data_sal_year_3a.iloc[:, :].astype('float')
data_sal_year_3b = data_sal_year_3a.sum(axis=1).astype('float')
data_sal_year_3c = (data_sal_year_3b/2)
data_sal_year_3 = data_sal_year_3c.astype('int')
data_sal_year_5 = pd.concat([data_sal_year_2, data_sal_year_3], axis=1, sort=True)
data_sal_year_6 = data_sal_year_5.drop(['Salary'], axis=1)

This segment takes the salary per month and converts it to per year

In [10]:
data_sal_month_temp = data1[data1['Salary'].str.contains(' a month')].reset_index(drop=True)
data_sal_month_1a = data_sal_month_temp.replace(' a month', '', regex=True)
data_sal_month_1 = data_sal_month_1a.replace('\n', '', regex=True)
data_sal_month_2 = data_sal_month_1.replace('[\$,)]', '', regex=True)
data_sal_month_3a = data_sal_month_2['Salary'].str.split('-', expand=True)
data_sal_month_3a.iloc[:, :] = data_sal_month_3a.iloc[:, :].astype('float')
data_sal_month_3b = data_sal_month_3a.sum(axis=1).astype('float')
data_sal_month_3c = (data_sal_month_3b/2) * 12
data_sal_month_3 = data_sal_month_3c.astype('int')
data_sal_month_5 = pd.concat([data_sal_month_2, data_sal_month_3], axis=1, sort=True)
data_sal_month_6 = data_sal_month_5.drop(['Salary'], axis=1)

This segment takes the salary per week and converts it to per year

In [11]:
data_sal_week_temp = data1[data1['Salary'].str.contains(' a week')].reset_index(drop=True)
data_sal_week_1a = data_sal_week_temp.replace(' a week', '', regex=True)
data_sal_week_1 = data_sal_week_1a.replace('\n', '', regex=True)
data_sal_week_2 = data_sal_week_1.replace('[\$,)]', '', regex=True)
data_sal_week_3a = data_sal_week_2['Salary'].str.split('-', expand=True)
data_sal_week_3a.iloc[:, :] = data_sal_week_3a.iloc[:, :].astype('float')
data_sal_week_3b = data_sal_week_3a.sum(axis=1).astype('float')
data_sal_week_3c = (data_sal_week_3b/2) * 52
data_sal_week_3 = data_sal_week_3c.astype('int')
data_sal_week_5 = pd.concat([data_sal_week_2, data_sal_week_3], axis=1, sort=True)
data_sal_week_6 = data_sal_week_5.drop(['Salary'], axis=1)

This segment takes the salary per hour and converts it to per year

In [12]:
data_sal_hour_temp = data1[data1['Salary'].str.contains(' an hour')].reset_index(drop=True)
data_sal_hour_1a = data_sal_hour_temp.replace(' an hour', '', regex=True)
data_sal_hour_1 = data_sal_hour_1a.replace('\n', '', regex=True)
data_sal_hour_2 = data_sal_hour_1.replace('[\$,)]', '', regex=True)
data_sal_hour_3a = data_sal_hour_2['Salary'].str.split('-', expand=True)
data_sal_hour_3a.iloc[:, :] = data_sal_hour_3a.iloc[:, :].astype('float')
data_sal_hour_3b = data_sal_hour_3a.sum(axis=1).astype('float')
data_sal_hour_3c = (data_sal_hour_3b/2) * 40 * 52
data_sal_hour_3 = data_sal_hour_3c.astype('int')
data_sal_hour_5 = pd.concat([data_sal_hour_2, data_sal_hour_3], axis=1, sort=True)
data_sal_hour_6 = data_sal_hour_5.drop(['Salary'], axis=1)

Let's sort the rows that don't have any salary mentioned and save them in <b>data_sal_none_temp</b>

In [13]:
data_sal_none_temp = data1[data1['Salary'].str.contains('None')].reset_index(drop=True)
data_sal_none_temp.head()

,Title,Location,Company,Salary
0,Data Science / Machine Vision Intern,None,Relay Medical Corp.,None
1,Data Scientist,None,autoTRADER.ca,None
2,Integrity Data Scientist,"Calgary, AB",TC Energy,None
3,Data Wrangler,Ontario,John Deere,None
4,Data Scientist,"Quebec City, QC",Targeted Talent,None

Now let's bring together our newly formed dataset and save it as <b>data_sal_all</b> and rename the table header as <b>Title</b>, <b>Location</b>, <b>Company</b> and <b>Salary</b>

In [14]:
data_sal_all = pd.concat([data_sal_year_6, data_sal_month_6, data_sal_week_6, data_sal_hour_6], axis=0, sort=True)
data_sal_all.columns = ['Title', 'Location', 'Company', 'Salary']
data_sal_all.sort_values(by='Salary',ascending=True, inplace=True)
data_sal_all.head()

,Title,Location,Company,Salary
0,Analytics Client Lead and Development,Toronto ON,Advanced Analytics and Research Lab (AAARL,21000
15,Senior Business Data Analyst,None,WeyMedia Inc.,30000
4,Data Scientist - Bus Priority Programs,Metro Vancouver Regional District BC,TransLink,34282
3,Data Science Consultant,Vancouver BC,ProCogia,35000
18,Data Science Consultant,None,ProCogia,35000

Now, let's join the two data sets, <b>data_sal_all</b> and <b>data_sal_none_temp</b> and save them in <b>data_sal_all_1</b>

In [15]:
data_sal_all_1 = pd.concat([data_sal_all, data_sal_none_temp], axis=0, sort=True)
data_sal_all_1.head()

,Company,Location,Salary,Title
0,Advanced Analytics and Research Lab (AAARL,Toronto ON,21000,Analytics Client Lead and Development
15,WeyMedia Inc.,None,30000,Senior Business Data Analyst
4,TransLink,Metro Vancouver Regional District BC,34282,Data Scientist - Bus Priority Programs
3,ProCogia,Vancouver BC,35000,Data Science Consultant
18,ProCogia,None,35000,Data Science Consultant

Let's see the shape of <b>data_sal_all_1</b>

In [16]:
data_sal_all_1.shape

(167, 4)

The shape of <b>data_sal_all_1</b> is <b>(283, 5)</b> which is same as the shape of <b>data1</b>.
This proves that we successfully managed to merge the 2 datasets without missing any row.

Now let's replace <b>'None'</b> values with <b>np.nan</b> and change the data type of <b>Salary</b> to *float*

In [17]:
data5a = data_sal_all_1.replace('None',np.nan, regex=True)
data5a['Salary'].astype('float')

0       21000.0
15      30000.0
4       34282.0
3       35000.0
18      35000.0
0       46800.0
1       47840.0
1       53900.0
7       70000.0
17      85000.0
9       88452.0
5       90000.0
11      90000.0
12      90000.0
13      90000.0
0       92629.0
16     100000.0
6      100000.0
2      100000.0
14     100000.0
8      105705.0
10     112737.0
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
5           NaN
6           NaN
7           NaN
         ...
115         NaN
116         NaN
117         NaN
118         NaN
119         NaN
120         NaN
121         NaN
122         NaN
123         NaN
124         NaN
125         NaN
126         NaN
127         NaN
128         NaN
129         NaN
130         NaN
131         NaN
132         NaN
133         NaN
134         NaN
135         NaN
136         NaN
137         NaN
138         NaN
139         NaN
140         NaN
141         NaN
142         NaN
143         NaN
144         NaN
Name: Salary, Length: 167, dtype: float64

Now, let's find the mean of the the cell Sa;ary using the .mean() method

In [18]:
mean_1 = data5a['Salary'].mean()
mean_1

73561.13636363637

We can now replace the np.nan cells with the mean salary obtained in the previous step.

Let's also change the datatype to *int*

In [19]:
data5b = data5a['Salary'].replace(np.nan, mean_1)
data5ba = data5b.astype('int')

Let's concact this salary to our previous dataframe <b>data_sal_all_1</b>

In [20]:
data5c = pd.concat([data_sal_all_1, data5ba], axis=1)
data5c.reset_index()

,index,Company,Location,Salary,Title,Salary
0,0,Advanced Analytics and Research Lab (AAARL,Toronto ON,21000,Analytics Client Lead and Development,21000
1,15,WeyMedia Inc.,None,30000,Senior Business Data Analyst,30000
2,4,TransLink,Metro Vancouver Regional District BC,34282,Data Scientist - Bus Priority Programs,34282
3,3,ProCogia,Vancouver BC,35000,Data Science Consultant,35000
4,18,ProCogia,None,35000,Data Science Consultant,35000
5,0,Nidish LLC,Remote,46800,Data Scientist,46800
6,1,CANN Forecast,Montréal QC,47840,CANN FORECAST | Machine Learning/Statistical A...,47840
7,1,BC Pension Corporation,Victoria BC,53900,Data Scientist,53900
8,7,DocuPet,Calgary AB,70000,Data Analyst,70000
9,17,Oliver Solutions,Toronto ON,85000,Data Science and Analytics (DAS,85000
10,9,Mastech InfoTrellis,Ottawa ON,88452,Data Scientist,88452
11,5,Fuze HR Solutions Inc,None,90000,Data Scientist,90000
12,11,Fuze HR Solutions Inc,None,90000,Data Scientist,90000
13,12,Fuze HR Solutions Inc,None,90000,Data Scientist,90000
14,13,Fuze HR Solutions Inc,None,90000,Data Scientist,90000
15,0,Innovation Credit Union,Canada,92629,Data Scientist,92629
16,16,Staffinity Inc.,None,100000,Data Scientist/Machine Learning Engineer,100000
17,6,Staffinity Inc.,None,100000,Data Scientist/Machine Learning Engineer,100000
18,2,Staffinity Inc.,None,100000,Data Scientist/Machine Learning Engineer,100000
19,14,Staffinity Inc.,None,100000,Data Scientist/Machine Learning Engineer,100000
20,8,Canadian Security Intelligence Service,Ottawa ON,105705,Data Scientist,105705
21,10,Advanced Analytics and Research Lab,Toronto ON,112737,Advanced Analytics and Research Lab,112737
22,0,Relay Medical Corp.,None,None,Data Science / Machine Vision Intern,73561
23,1,autoTRADER.ca,None,None,Data Scientist,73561
24,2,TC Energy,"Calgary, AB",None,Integrity Data Scientist,73561
25,3,John Deere,Ontario,None,Data Wrangler,73561
26,4,Targeted Talent,"Quebec City, QC",None,Data Scientist,73561
27,5,Léger,None,None,Data Scientist,73561
28,6,None,None,None,Business Intelligence and Analytics Developer,73561
29,7,General Motors,Ontario,None,Data Scientist - CCA Co-Op (Spring 2021),73561
...,...,...,...,...,...,...
137,115,BrainStation,"Vancouver, BC",None,"Associate Educator, Data Scientist",73561
138,116,Aviva,"Markham, ON",None,"Manager, Data Science Engineering",73561
139,117,Hitachi Solutions,"Calgary, AB",None,"Director, Azure Data & Analytics",73561
140,118,AltaML Inc./Janalta Interactive Inc.,"Calgary, AB",None,Machine Learning Team Lead,73561
141,119,McKinsey & Company,"Montréal, QC",None,Senior Data Scientist - QuantumBlack,73561
142,120,The Toronto Region Board of Trade,"Toronto, ON",None,Business Intelligence Analyst,73561
143,121,Manulife,"Toronto, ON",None,Senior Data Analyst,73561
144,122,OSL Retail Services Inc,"Mississauga, ON",None,Vice President Business Analytics and Data,73561
145,123,McAfee,"Waterloo, ON",None,Senior Data Analyst,73561
146,124,IQVIA,"Kirkland, QC",None,Data Analyst-Bilingual French & English,73561
147,125,Providence Health Care,"Vancouver, BC",None,Data Scientist,73561
148,126,Ada Inc.,"Toronto, ON",None,Senior Machine Learning Scientist,73561
149,127,Bond Brand Loyalty Inc,None,None,Sr. Data Analyst,73561
150,128,Geotab,"Oakville, ON",None,Applied Data Scientist,73561
151,129,Restaurant Brands International,"Toronto, ON",None,"Data Scientist, People Analytics",73561
152,130,Temetrix,"Ottawa, ON",None,SENIOR DATA SCIENTIST,73561
153,131,Kabam,"Vancouver, BC",None,Data Scientist,73561
154,132,Marine Thinking Inc.,"Halifax, NS",None,Principal Data Scientist,73561
155,133,Zynga,"Toronto, ON",None,Data Science Intern - Summer 2021,73561
156,134,ChilliConnect,"Vancouver, BC",None,"Machine Learning Intern (ML-Agents), AI@Unity",73561
157,135,Eastside Games,Remote,None,Game Data Analyst,73561
158,136,Suncor Energy Services,"Calgary, AB",None,Analytics Design and Delivery Leader,73561
159,137,Xero,"Toronto, ON",None,Senior Applied Scientist - Machine Learning Pr...,73561
160,138,Ontario Energy Board,"Toronto, ON",None,Summer Student - Performance Analytics & Repor...,73561
161,139,Enterprise Solutions Inc,None,None,Data Analytics,73561
162,140,Relay Medical Corp.,None,None,Data Science / Machine Vision Intern,73561
163,141,autoTRADER.ca,None,None,Data Scientist,73561
164,142,None,None,None,Business Intelligence and Analytics Developer,73561
165,143,Léger,None,None,Data Scientist,73561
166,144,FORM,None,None,Data Scientist,73561

Now we have two Salary columns in our dataframe, so we rename the old one to Salary_1 and drop it.

In [21]:
data5c.columns = ['Company', 'Location', 'Salary_1', 'Title', 'Salary']
data5d = data5c.drop(['Salary_1'], axis=1)
data5d.head()

,Company,Location,Title,Salary
0,Advanced Analytics and Research Lab (AAARL,Toronto ON,Analytics Client Lead and Development,21000
15,WeyMedia Inc.,None,Senior Business Data Analyst,30000
4,TransLink,Metro Vancouver Regional District BC,Data Scientist - Bus Priority Programs,34282
3,ProCogia,Vancouver BC,Data Science Consultant,35000
18,ProCogia,None,Data Science Consultant,35000

In [25]:
from datetime import date

today = date.today()

In [26]:
# Textual month, day and year
d2 = today.strftime("%d-%B-%Y")
d2

'15-February-2021'

In [27]:
data5d.to_csv('data/data-'+str(d2)+'.csv', index=False)

Let's procede with the cleanup of our dataset. Let's drop the cells that don't have any location as it won't be useful to us in our analysis.

In [ ]:
data6a = data5d.replace('None',np.nan, regex=True)
data6 = data6a[pd.notnull(data5d["Location"])]
data6 = data6.reset_index(drop=True)
data7 = data6.groupby('Location').count()
sort_data = data7.sort_values('Title',ascending=False)

In [ ]:
sort_data.head(10)

As we can see above, <b>sort_data</b> has a location <b>Canada</b>. We need to drop that row. Since we made our code flexible by asking the user to input his job title, this field might not show up in other job titles. Hence we need to write the code that will check if this field is there, and if it, drop it, else procede without doing anything.

In [ ]:
sort_data_canada_1 = sort_data.reset_index()
sort_data_canada_2 = sort_data_canada_1.iloc[:, 0]
sort_data_canada_3 = sort_data_canada_2.isin(['Canada'])

In [ ]:
if sort_data_canada_3.any() == True:
    sort_data_1 = sort_data.drop(['Canada'], axis=0)
else:
    sort_data_1 = sort_data

In [ ]:
sort_data_2 = sort_data_1.reset_index()
sort_data_2.head()

Now let's split the location into <b>City</b> and <b>Provience</b>

In [ ]:
data1 = sort_data_2['Location'].str.split(',', expand=True)
data1.columns = ['City', 'Provience']
data1.head()

Now let's merge this new data with the previous data and drop the column <b>Location</b>

In [ ]:
data2 = pd.concat([data1, sort_data_2], axis=1, sort=False)
data3 = data2.drop(['Location'], axis=1)
data3.head()

Let's see which <b>Provience</b> has the maximum number of jobs.

In [ ]:
data4 = data3.groupby('Provience')['Title'].apply(lambda x: ', '.join(x.astype(str))).reset_index()
data5 = data4['Title'].str.split(',', expand=True)
data5.iloc[:, :] = data5.iloc[:, :].astype(float)
data5['Total'] = data5.sum(axis=1).astype(int)
data8 = data5.loc[:, 'Total']
data9 = data4.loc[:, 'Provience']
data10 = pd.concat([data9, data8], axis=1, sort=True)
data10

Let's sort the dataframe by which <b>City</b> has the maximum number of jobs and arrange it in ascending order.

In [ ]:
data11 = sort_data_1
data11.sort_values(by='Title', ascending=True, inplace=True)
data12 = data11.loc[:, 'Title']
data13 = data12.tail(15)
data13

Now let's make sure we don't have any duplicated in our dataframe

In [ ]:
data5d.drop_duplicates(keep=False,inplace=True)
data5d.head()

As we can see, many job titles have the same salary listed. For our last step, data visualization, we don’t need same salaries for different job titles, we just need one. So we group them by salary and then sort them in ascending order.

In [ ]:
data5e = data5d.groupby('Salary')['Company'].apply(' '.join).reset_index()
data5e.sort_values(by='Salary', ascending=True, inplace=True)

In [ ]:
data_sal_all_1 = data5e.loc[:,'Salary']
data_sal_all_2 = data_sal_all_1.tail(15)
data_sal_all_2

Now, let's plot which city has the maximum number of jobs.

In [ ]:
data13.plot(kind='barh', figsize=(12, 12), color='steelblue')
plt.xlabel('Number of jobs')
plt.title(job_title_1+' jobs in Canada')

for index, value in enumerate(data13): 
    label = format(int(value), ',')
    
    plt.annotate(label, xy=(value - 0.75, index - 0.10), color='white')

plt.show()

Let's plao the salary range as well.

In [ ]:
data_sal_all_2.plot(kind='barh', figsize=(15, 15), color='grey')
plt.xlabel('Salary')
plt.title(job_title_1+' salary in Canada')

for index, value in enumerate(data_sal_all_2): 
    label = format(int(value), ',') # format int with commas
    
    plt.annotate(label, xy=(value - 12000, index - 0.10), color='white')

plt.show()